.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--shelf{
  margin-top: 2em;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.imageElement--carousel{
  margin: 25px;
  border-radius: 15px;
  max-width: 80%;
  background: #F0F0F0;
  box-shadow: 20px 20px 60px #cccccc,
  -20px -20px 60px #ffffff;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
